apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-web-app-deployment
  labels:
    app: go-web-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-web-app
  template:
    metadata:
      labels:
        app: go-web-app
    spec:
      containers:
      - name: go-web-app
        image: AmitW-bot/go-web-app:v1  # Replace with your actual image name/tag
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /home
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /home
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20